/* 添加 CSS */

 .name {
	margin-bottom:1em; /*动物的名字、图片和详细信息之间设置间隔*/

}


.image {
	max-width:300px;
	width:350px;
	height:380px;
	margin-bottom:1em; /*动物的名字、图片和详细信息之间设置间隔*/
	box-shadow: 0px 5px 15px 0px rgba(153,153,153,0.5);
}

/*展示动物的趣闻的文本为斜体*/
.funfacts {
	font-style:italic;
}

/*动物列表项中的标签字体加粗*/
.label {
	font-weight:bold;
}

/*删除动物列表项中的圆点*/
#list {
	list-style: none;
}

/*动物的名字、图片和详细信息（趣闻、列表项和描述）周围使用边框。*/
.border {
	border: 1px solid black;
	border-radius:4px;
	padding:5px;
	width:300px;
}